/* ********************************* Layout - Start ********************************* */
body{
    text-align: center;
}
h1{
    color: red;
}
h2{
    color: purple;
}
h4{
    color: rgb(175, 175, 37);
}
/* ********************************* Layout - End ********************************* */

/* ********************************* Header - Start ********************************* */
header nav a{
    margin: 0 10px;
}
/* ********************************* Header - End ********************************* */

/* ********************************* Main - Start ********************************* */
ol{
    width: 300px;
    margin: auto;
}
ol img{
    width: 100%;
}
/* ********************************* Main - End ********************************* */